/* FONTS */

@font-face {
    font-display: swap; 
    font-family: 'Karla';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/karla-v30-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/karla-v30-latin-700.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dm-serif-display-v12-latin-regular.woff2') format('woff2'); 
}

*{
    box-sizing: border-box;
}

img{
    vertical-align: middle;
}

.visually-hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container{
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

a{
    display: inline-block;
    text-decoration: none;
}

ul,
ol{
    margin: 0;
    padding: 0;
    list-style: none;
}

html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Karla", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.site-main{
    flex-grow: 1;
}

/* HEADER STARTED */

.site-header {
    padding: 21px 0 19px;
}

.site-header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header__nav {
    display: flex;
    align-items: center;
    gap: 33px;
}

.site-header__list {
    display: flex;
    gap: 25px;
}

.site-header__link {
    color: #837D88;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.site-header__btn {
    width: 146px;
    text-align: center;
    padding: 13px 0;
    color: #2C2830;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
    border: 1.5px solid #2C2830;
    background-color: #FFF;
    transition-property: background-color color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.site-header__btn:hover {
    background-color: #2C2830;
    color: #FFF;
}

.site-header__menu {
    display: none;
}

@media only screen and (max-width: 640px) {
    .site-header__nav {
        display: none;
    }

    .site-header__menu {
        display: block;
        background-color: transparent;
        width: 32px;
        height: 32px;
        border: transparent;
        background-image: url("../images/menu.svg");
    }
}

/* HEADER ENDED */


/* HERO SECTION STARTED */

.hero {
    position: relative;
    padding: 105px 0 127px;
    background-color: #2D2641;
    color: #FFF;
    background-image: url("../images/hero-line.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 500px) calc(50% - 88px);
}

.hero::before {
    position: absolute;
    top: 400px;
    width: 697px;
    height: 649px;
    background-image: url(../images/hero-line2.svg);
    background-repeat: no-repeat;
    content: "";
}

.hero__inner {
    display: flex;
    position: relative;
}

.hero__wrapper {
    width: 540px;
}

.hero__wrapper::before {
    display: block;
    width: 150px;
    height: 1px;
    background-color: #FFF;
    content: "";
    margin-bottom: 63px;
}

.hero__title {
    margin: 0;
    margin-bottom: 16px;
    color: #FFF;
    font-family: "DM Serif Display";
    font-size: 72px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -1px;
}

.hero__text {
    line-height: 26px;
    margin: 0;
    margin-bottom: 24px;
}

.hero__link {
    width: 146px;
    text-align: center;
    padding: 13px 0;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.5px;
    border: 1.5px solid #fff;
    transition-property: background-color color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.hero__link:hover {
    background-color: #FFF;
    color: #2C2830;
}

.hero__img {
    position: absolute;
    right: 0;
}

.hero__img-mobile {
    display: none;
}

@media only screen and (max-width: 1117px) {
    .hero {
        background-size: 597px 549px;
        background-position-x: calc(50% + 350px);
    }

    .hero__img {
        width: 440px;
        height: 550px;
    }

    .hero__title {
        font-size: 64px;
    }

    .hero__text {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1012px) {
    .hero__wrapper {
        width: 440px;
    }

    .hero__wrapper::before {
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 912px) {
    .hero {
        padding-bottom: 80px;
        background-position-x: calc(50% + 270px);
    }

    .hero__title {
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -0.667px;
    }

    .hero__img {
        width: 340px;
        height: 450px;
    }
}

@media only screen and (max-width: 800px) {
    .hero__img {
        position: relative;
        width: 100%;
        max-width: 521px;
        margin: 0 auto;
    }

    .hero__inner {
        width: 100%;
        max-width: 734px;
        align-items: center;
        flex-direction: column-reverse;
    }

    .hero {
        padding-top: 0;
        text-align: center;
        background-image: none;
    }

    .hero::before {
        display: none;
    }

    .hero__wrapper {
        margin-top: 93px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 640px) {

    .hero__img {
        display: none;
    }

    .hero__img-mobile {
        width: 100%;
        max-width: 375px;
        margin: 0 auto;
        display: block;
    }

    .hero__wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 364px) {
    .hero__title {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 15px;
    }

    .hero__wrapper {
        margin-top: 60px;
    }

    .hero__text {
        font-size: 10px;
    }
}

@media only screen and (max-width: 357px) {
    .hero {
        background-image: url(../images/hero-line3.svg);
        background-position: calc(50% - 53px) calc(50% - 64px);
    }

    .hero::after {
        position: absolute;
        width: 178px;
        height: 218px;
        background-image: url(../images/hero-line4.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: calc(50% + 50px) center;
        content: "";
    }

    .hero::after {
        width: 160px;
    }
}

/* HERO SECTION ENDED */

/* SERVICES SECTION STARTED */

.services {
    padding: 305px 0 158px;
}

.services__title {
    color: #2C2830;
    font-family: "DM Serif Display";
    font-size: 72px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -1px;
    margin: 0;
    margin-bottom: 96px;
}

.services__title::before {
    display: block;
    width: 150px;
    height: 1px;
    background-color: #C396C6;
    content: "";
    margin-bottom: 63px;
}

.services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__item {
    width: 350px;
}

.services__item::before {
    display: block;
    margin-bottom: 32px;
    width: 86px;
    height: 86px;
    background-image: url(../images/before1.svg);
    content: "";
}

.services__item:nth-child(2)::before {
    background-image: url(../images/before2.svg);
}

.services__item:nth-child(3)::before {
    background-image: url(../images/before3.svg);
}

.services__subtitle {
    color: #2C2830;
    font-family: "DM Serif Display";
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.389px;
    margin: 0;
    margin-bottom: 16px;
}

.services__text {
    color: #837D88;
    line-height: 26px;
    margin: 0;
}

@media only screen and (max-width: 1090px) {
    .services__list {
        justify-content: center;
        text-align: center;
        gap: 40px;
    }

    .services__title {
        text-align: center;
    }

    .services__title::before {
        right: 0;
        left: 0;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .services__item::before {
        right: 0;
        left: 0;
        margin: 0 auto;
        margin-bottom: 32px;
    }

}

@media only screen and (max-width: 800px) {
    .services {
        padding-top: 50px;
    }
}

@media only screen and (max-width: 576px) {
    .services__title {
        font-size: 48px;
    }
}

/* SERVICES SECTION ENDED */

/* ARTICLE SECTION STARTED */

.article {
    padding-bottom: 150px;
}

.article__inner {
    padding: 69px 81px 69px 80px;
    background-image: url(../images/background-img.png);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
}

.article__wrapper {
    width: 480px;
}

.article__title {
    margin: 0;
    color: #FFF;
    font-family: "DM Serif Display";
    font-size: 56px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.778px;
}

.article__link {
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.5px;
    display: inline-block;
    width: 160px;
    text-align: center;
    padding: 13px 0 12px;
    border: 1.5px solid #FFF;
}

@media only screen and (max-width: 847px) {
    .article__inner {
        flex-direction: column;
        text-align: center;
        background-image: url(../images/background-img2.png);
    }

    .article__title {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 547px) {
    .article__wrapper {
        width: 330px;
    }
}

@media only screen and (max-width: 400px) {
    .article__title {
        font-size: 35px;
    }
}

@media only screen and (max-width: 350px) {
    .article__wrapper {
        width: 250px;
    }
}

/* ARTICLE SECTION ENDED */


/* FOOTER STARTED */

.site-footer {
    background-image: url(../images/background-img3.png);
    background-repeat: no-repeat;
    background-color: #FAFAFA;
}

.site-footer__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 0 33px;
    border-bottom: 1px solid #DADADA;
}

.site-footer__bottom-inner {
    padding: 48px 0 64px;
}

.site-footer__sublist {
    display: flex;
    justify-content: space-between;
}

.site-footer__text {
    margin: 0;
    margin-bottom: 30px;
    color: #837D88;
    font-size: 13px;
    font-family: "Karla";
    font-weight: 700;
    letter-spacing: 1.50px;
    word-wrap: break-word;
}

.site-footer__item {
    margin-bottom: 16px;
}

.site-footer__item:last-child {
    margin-bottom: 0;
}

.site-footer__link {
    color: #2D2641;
    font-size: 13px;
    font-family: "Karla";
    font-weight: 700;
    letter-spacing: 1.50px;
    word-wrap: break-word;
}


@media only screen and (max-width: 745px) {
    .site-footer__sublist {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        text-align: center;
    }
}

@media only screen and (max-width: 550px) {
    .site-footer__subitem{
        width: 40%;
    }
}


@media only screen and (max-width: 400px) {
    .site-footer__subitem {
        width: 100%;
    }
}

@media only screen and (max-width: 360px) {
    .site-footer__top-inner {
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
        justify-content: center;
    }
}


/* FOOTER ENDED */